
* { box-sizing: border-box;}


body {
	background-color: #eaeaea;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;	
	
}
header {
	background-color: #242424;
	color: #FFFFFF;
	height: 120px;
	text-align: center;
	padding-top: 30px;
	padding-left: 3em;
	border: 5px solid #000000;
	
}

header a {
	text-decoration: none;
	color: white;
}

header a:link {
	color: white;
}

header a:visited {
	color: white;
}

nav {
	float: left;
	width: 160px;
	padding: 1em;
	font-size: 100%;
	font-weight: bold;
}

nav a {
	text-decoration: none;
	display: block;
	padding: 1em 0.5em;
	transition: background-color 3s linear;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	font-size: 1.2em;
}

nav a:link {
	color: #252525;
}

nav a:visited {
	color: #000c25;
}

nav a:hover {
	color: #a52a2a;
	background-color: #7e7e7e;
}

main {
	background-color: rgb(189, 189, 189);
	overflow: auto;
	margin-left: 190px;
	padding: 1px 20px 20px 30px;
	display: block;
	border: 5px solid #000000;
	border-bottom: #FFFFFF;
}

main ul {
	list-style-image: url(marker.gif);
}

table, th,td {
	border-spacing: 0;
	border-collapse: collapse;
	border: 2px solid #000000;
}

th {
	background-color: #70cfff;
}

td {
	text-align: center;
}

.text {
	text-align: left;
}

tr:nth-of-type(odd) {
	background-color: #c6dde9
}

section {
	float: left;
	width: 33%;
	padding-left: 2em;
	padding-right: 2em;
}

h1	{
	margin-bottom: 0;
	margin-top: 0;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 3em;
	letter-spacing: 0.25em;
}

h2  {
	color: #333333;
	font-family: Georgia, "Times New Roman", serif;
	text-shadow: 1px 1px 1px #CCCCCC;
}

h3 {
	font-family: Georgia, "Times New Roman", serif;
	color: #111111;
}

dt  {
	color: #464646;
}

label {
	float: left; 
	display: block;
	text-align: right;
	width: 140px;
	padding: 5px;
}

input, textarea {
	display: block;
	margin-bottom: 20px;
}

input[type="submit"] {
	margin-left: 140px;
}

footer	{
	background-color: rgb(189, 189, 189);
	margin-left: 190px;
	padding: 2em;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 75%;
	font-style: italic;
	text-align: center;
	border: 5px solid #000000;
	border-top: #FFFFFF;
}

#contact {
	font-size: 90%;
}

#wrapper {
	border: 15px solid #000000;
	box-shadow: 3px 3px 3px #333333;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	min-width: 960px;
	max-width: 2048px;
	background-image: linear-gradient(to right, #bebebe, #3d3d3d);
	background-color: #90c7e3;
}

.vanhalen {
	color: #292929;
	font-weight: bold;
}	

.albumname {
	color: #000000;
	font-weight: bold;
	text-align: center;
}	

.homehero {
	margin-left: 190px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#yurthero {
	height: 300px;
	background-image: url(yurt.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}

#trailhero {
	height: 300px;
	background-image: url(trail.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}
